.App {
  background-color: #fbfff0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 242px;
  height: 138px;
  flex-shrink: 0;
  position: sticky;
  top: 14px;
}
.App-header {
  background-color: #fbfff0;
  display: flex;
  width: 100%;
  padding: 10px 0px;
  height: 100px;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 100;
}

.ContainerInit {
  margin: 0px 0px 20px 0px;
  flex: 1;
  overflow-y: auto;
}
