.App {
  background-color: #fbfff0;
  height: 740px;
}

.App-logo {
  width: 242px;
  height: 138px;
  flex-shrink: 0;
  position: fixed;
  top: 14px;
}
.App-header {
  display: flex;
  width: 360px;
  padding: 10px 0px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

/* .ContainerInit{
   display: flex; 
   justify-content: center;
  align-items: center; 
   height: 100vh; 
   margin: 0; 
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
