.frameRetrecieNotice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background-image: url("../image/red.jpeg");
  background-position: center;
  background-size: cover;
  margin-bottom: 5%;
}

.TexteNotice {
  color: white;
  background: rgba(0, 0, 0, 55%);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  font-size: x-large;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.TexteNotice.active {
  background: rgba(0, 0, 0, 0.77); /* Exemple de couleur de fond plus foncée */
}

.TexteNotice p {
  margin: 5% 0% 5% 0%;
}

.InformationsSupplementaires {
  /* Styles pour les informations supplémentaires */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 7% 0px 7%;
}
.InformationsSupplementaires-text {
  display: flex;
  font-size: medium;
  font-weight: normal;
  width: 100%;
  justify-content: space-between;
  font-size: 22px;
}

.InformationsSupplementaires-text-laber {
  font-style: italic;
}
