.barreChoix {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px;
  margin: 10px;
  align-items: center;
  top: 0;
  z-index: 100;
  position: sticky;
}

.nomActive {
  color: #0c282c;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-decoration: none;
}

.nomUnactive {
  color: #0c282c;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-decoration: none;
}
/* .Container_Ajouter_detailVehicule_Ajouter {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  right: 50%;
  transform: translateX(50%);
  bottom: 100px;
}

.button_Ajouter_detailVehicule {
  background-color: #577d5f;
  color: white;
  border-color: #577d5f;
  border: 2px solid;
  border-radius: 50%;
  font-size: xxx-large;
  width: 70px;
  height: 70px;
} */
