.ContainerAll {
  display: flex;
  flex-direction: column;
  padding: 2.5% 5%;
  gap: 20px;
}

.ContainerAll_Entretien {
  display: flex;
  flex-direction: column;
  padding: 0% 0%;
}

.TextInfoFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.TextBig {
  color: white;
  font-weight: bolder;
  margin-bottom: 2px;
  margin-top: 20%;
  font-size: 200%;
  font-style: normal;
  letter-spacing: 0.15px;
}
.TextSmall {
  color: white;
  font-size: medium;
  margin-top: 0px;
  font-size: 100%;
  font-style: normal;
  letter-spacing: 0.15px;
}

.Entretien-ContainerFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #375e75;
  border-radius: 15px;
}

.Entretien-ContainerFrame-Fille {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #375e75;
  border-radius: 15px;
  margin-bottom: 5%;
  width: 100%;
}

.ptest1 {
  color: #577d5f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.15px;
}

p {
  margin: 6px;
}

.ptest2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: 0.15px;
  margin-bottom: 0;
}

.ptest3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.15px;
  text-align: start;
}

.ptest4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.15px;
}
