.FormMat {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 20px 30px;
  padding-right: 20px;
  align-items: flex-start;
}
.FormImage {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid #577d5fcc;
  background-color: #fbfff0;
  color: #577d5fcc;
  font-size: 16px;
  margin: 10px 15%;
  cursor: pointer;
  border-radius: 5px;
}
.FormImage::before {
  content: "+ ";
  color: #577d5f;
  margin-right: 10px;
}

.FormImage.image-changed {
  border: none; 
  background-color: #fbfff0; 
  color: #4a7c59; 
}

.FormImage.image-changed::before {
  content: "↻ "; 
  color: #577d5f;
}

/* Style pour l'image de prévisualisation */
.image-preview {
  border-radius: 15px;
  opacity: 80%;
  width: 100%;
}
.image-preview-position {
  display: flex;
  justify-content: center;
}
.image-preview-fondNoir {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 15px;
  width: 325px;
  height: 165px;
}
input[type="file" i] {
  background-color: #fbfff0;
}

input[type="text" i],
input[type="number" i],
input[type="date" i] {
  background-color: #fbfff0;
  border: none;
  width: 100%;
  height: 25px;
}

.LabelForm {
  border-bottom: black 1px solid;
  width: 100%;
  margin-right: 20px;
  margin: 20px 0px;
}

input::placeholder {
  font-style: italic;
  font-size: 14px;
  color: rgb(126, 126, 126);
}
.PositionEnregistrer {
  display: flex;
  justify-content: center; 
  align-items: center;
}
button {
  background-color: #577d5fcc;
  border-radius: 5px;
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: large;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
  border: none;
  margin-top: 5%;
}
