form {
  padding-bottom: 20%;
}
.FormNotice {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 20px 30px;
  padding-right: 20px;
  align-items: flex-start;
}

.FormMenuDel {
  display: flex;
  padding: 10px 0px;
  background-color: #fbfff0;
  cursor: pointer;
  gap: 20px;
}

.NoticeForm-selection-format {
  padding: 2px;
  border: none;
  border-radius: 2px;
  font-size: medium;
  font-style: italic;
  background: #fbfff0;
  font-style: italic;
  font-size: 15px;
}

input[type="text" i],
input[type="number" i],
input[type="date" i] {
  background-color: #fbfff0;
  border: none;
  width: 100%;
  height: 25px;
}

.NoticeForm-option-selection {
  font-size: 15px;
}

.LabelForm {
  border-bottom: black 1px solid;
  width: 100%;
  margin-right: 20px;
  margin: 20px 0px;
}

input::placeholder {
  font-style: italic;
  font-size: 15px;
  color: rgb(126, 126, 126);
}
.PositionEnregistrer {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center;
}
button {
  background-color: #577d5fcc;
  border-radius: 5px;
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: large;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
  border: none;
  margin-top: auto;
}
