.containerAll {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  gap: 20px;
}

.containerAffichageMat {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 100%;
  height: 158px;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7%;
}

.TextInfoFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.TextBig {
  color: white;
  font-weight: bolder;
  margin-bottom: 2px;
  margin-top: 20%;
  font-size: 200%;
  font-style: normal;
  letter-spacing: 0.15px;
}
.TextSmall {
  color: white;
  font-size: medium;
  margin-top: 0px;
  font-size: 100%;
  font-style: normal;
  letter-spacing: 0.15px;
}
.Button {
  display: flex;
  height: 32px;
  padding: 2px 43px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 35px;
  background-color: white;
  margin-left: -2px;
  color: black;
}
ul {
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 10% 0 10%;
}
