.verifLogin-page {
  background-color: #fbfff0;
  height: 100vh;
}

.verifLogin-button {
  width: 289px;
  height: 43px;
  color: black;
  border-radius: 19px;
  background: #d7d7d7;
}

.verifLogin-button-position {
  display: flex;
  justify-content: center;
}

